<% content_for(:title, '運営者情報') %>
<h2 class="text-center">運営者情報</h2>
<div class="mx-5">
    <h3>運営者情報</h3>
    <p>本サービスは個人開発者により運営されています。</p>
    <p>運営者名：ikari（開発者名）</p>
    <p>お問い合わせ先：<%= link_to 'お問い合わせフォーム', new_contact_path %></p>
    <p>※氏名・住所などの詳細情報については、正当な理由による請求があった場合に、遅滞なく開示いたします。</p>    
    <p class="text-end">2025年6月20日現在</p>
</div>
