<footer class="text-center py-3 mt-3" style="font-size: 0.9rem;">
<div class="container">
    <p class="mb-1">&copy; 2025 FIRST HIT. All rights reserved.</p>
    <p class="mb-0">
    <%= link_to '利用規約', terms_path, class: "text-decoration-none mx-2" %>
    <%= link_to 'プライバシーポリシー', policy_path, class: "text-decoration-none mx-2" %>
    </p>
    <p class="mb-0">
    <%= link_to 'お問い合わせ', new_contact_path, class: "text-decoration-none mx-2" %>
    <%= link_to '運営者情報', about_path, class: "text-decoration-none mx-2" %>
    </p>
</div>
</footer>
